<!--
    Autor     : José Carlos de Freitas
    Criado em : 24/09/2018, 18:19:46
    Documento : gerenciar
-->

<html layout:decorate="~{layout.html}" th:with="titulo=${'Alunos'}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="Sistema exemplo de uso de ORM">

    </head>
    <body>

        <main layout:fragment="main">
            <section>
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="h5">Alunos</h2>
                        </div>
                        <div class="card-body">

                            <table th:replace="fragments/alunos :: exibirTodos"></table>

                        </div>
                        <div class="card-footer text-muted">
                            <a class="btn btn-primary" th:href="@{/alunos/novo}">Novo aluno</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </body>
</html>

