<!--
    Autor     : José Carlos de Freitas
    Criado em : 24/09/2018, 18:28:53
    Documento : novo
-->

<html layout:decorate="~{layout.html}" th:with="titulo=${'Novo aluno'}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="Sistema exemplo de uso de ORM">

    </head>
    <body>

        <main layout:fragment="main">
            <section>
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="h5">Alunos</h2>
                        </div>
                        <div class="card-body">

                            <table th:replace="fragments/alunos :: exibirTodos"></table>

                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="h5">Novo aluno</h2>
                        </div>
                        <form th:action="${''}" method="post" th:object="${aluno}">
                            <div class="card-body">

                                <h5 class="h6">Dados do aluno</h5>
                                <div th:replace="fragments/alunos :: dados-gerais"></div>

                            </div>
                            <div class="card-footer text-muted">
                                <a class="btn btn-secondary" th:href="@{/alunos}">Cancelar</a>
                                <button type="submit" class="btn btn-primary">Novo aluno</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </main>

    </body>
</html>

